body {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.6)), 
    url('./assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
}


.gradient-border {
  position: relative;
  border-radius: 100px;
  background: linear-gradient(transparent, transparent) padding-box,
              linear-gradient(90deg, #7670FF 0%, #5B42FF 100%) border-box;
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
}
